    <button type="button" data-qa="button"
        class="inline-flex items-center justify-center relative rounded outline-none text-center h-11.5 px-6 typo-body-4-d before:absolute after:w-button-focus after:h-button-focus after:absolute after:rounded-button-focus after:ring-inset after:ring-brand-3 focus-visible:after:ring-2 cursor-pointer text-static-ground bg-transparent hover:text-brand-2-accessible hover:bg-static-ground before:border before:border-static-ground before:inset-0 before:rounded active:bg-static-ground active:before:bg-transparent">
        <span class="flex relative gap-2 items-center whitespace-nowrap button__content">
            Secondary Outline Inverted
        </span>
    </button>